<!--Configuramos nuestro html metiéndole párrafos, imágenes y títulos-->

<body>
<div class="datos">
    <br>
    <br>
    
<h1><strong>GRECIA</strong></h1>
<br>
<br>

    <h3>MIKONOS</h3>
    <div style="text-align: center"><img src="assets/banderas/miko.jpg"/></div>
    <br>
    <br>
    <p>Probablemente la más famosa isla griega. Tiene un paisaje típicamente cicládico. 
        Es árida y está rodeada de magníficas playas. Debe su fama a la belleza de su capital, 
        Chora, a sus casitas blancas de pasajes estrechos y entrañables, así como a sus numerosas
         playas de gran calidad. Se trata de una isla muy visitada, con una vida nocturna muy acentuada 
         y loca. Aquí debemos hacer una aclaración importante: existe un ambiente gay pero tanto como en 
         cualquier otro lugar. Como este ambiente hay muchísimos más, tantos como puede haber en la isla 
         de Ibiza o Tenerife. El turista tiene que tener en cuenta que se trata de una isla pequeña y por 
         tanto las distancias son cortas. La isla de Mykonos, cada vez mas, es elegida en un viaje a Grecia 
         como único destino. Asimismo, cada vez más son los clientes "repetidores" de esta isla. Y es que
        dicen que es la mejor isla para entablar relaciones humanas: Dado que su tamaño es pequeño, todo el mundo esta cerca de los demás.</p>

    <br>
    <br>
    <h3>SANTORINI</h3>
    
    <div style="text-align: center"><img src="assets/banderas/santori.webp"/></div>
    <br>
    <br>
    <p>Santorini es una de las islas Cícladas en el mar Egeo. Fue devastada por una erupción volcánica en
         el siglo XVI a. C., que dio forma a su paisaje accidentado. Las casas cúbicas encaladas en sus 2 
         ciudades principales, Fira y Oia, se aferran a los acantilados sobre un cráter subterráneo.
          Estas tienen vista al mar, las pequeñas islas al oeste y las playas de piedras de lava blancas, rojas y negras.</p>

    <br>
    <br>
    <h3>CRETA</h3>
    <div style="text-align: center"><img src="assets/banderas/creta.jpg"/></div>
    <br>
    <br>
    <p>Creta es la isla más grande de Grecia y la quinta en tamaño del mar Mediterráneo. 
        El archipiélago cretense conforma una de las trece periferias y una de las siete
         administraciones descentralizadas de Grecia
        </p>
        <br>
    <br>
    <p>.</p>

    

</div>
</body>