<!--Configuramos nuestro html metiéndole párrafos, imágenes y títulos-->
<body>
    <div class="datos">
        <br>
        <br>
        
    <h1><strong>ALEMANIA</strong></h1>
    <br>
    <br>
    
        <h3>BERLÍN</h3>
        <img src="assets/banderas/alemania.jpg"/>
        <br>
        <br>
        <p>Berlín, capital alemana, data del siglo XIII. Los elementos que recuerdan la turbulenta historia de la ciudad en el siglo XX incluyen el Monumento del Holocausto y los restos del Muro de Berlín con grafitis. Después de dividirse durante la Guerra Fría, la Puerta de Brandeburgo del siglo XVIII se convirtió en un símbolo de la reunificación. La ciudad es conocida por su ambiente artístico y los sitios geográficos modernos, como la Filarmónica de Berlín, construida en 1963, de color dorado y con un diseño de paneles que se desprenden de su techo.</p>
        <br>
        <br>
        <h3>MUNICH</h3>
        
        <img src="assets/banderas/MUN.jpg"/>
        <br>
        <br>
        <p>Múnich (en alemán München) es la capital del estado federado de Baviera y2​ la tercera ciudad de Alemania por número de habitantes, y la 11ª de la Unión Europea.3​
            Además es la ciudad alemana donde más compañías se encuentran del índice bursátil DAX, siendo la región un importante motor económico de las industrias financiera, tecnológica, de automoción, y servicios. Entre las compañías con sede global en Múnich, destacan Allianz, BMW, B/S/H/, FlixBus, Infineon, MAN, MTU, Munich RE, Osram, Sixt, el Grupo Siemens, y TÜV SÜD. En base al reconocido estudio y ranking de Países con Mayor Calidad de Vida en el Mundo de Mercer en 2019, Munich es la ciudad con mayor calidad de vida en Alemania, así como la tercera en el mundo,4​ prominente posición mundial en la que en el mismo año coincidió el estudio5​ Monocle’s Quality of Life 2019</p>


        <br>
        <br>
        <h3>PUERTA DE BRADEMBURGO</h3>
        <img src="assets/banderas/aleman.jpg"/>
        <br>
        <br>
        <p>La Puerta de Brandeburgo (en alemán, Brandenburger Tor) es una antigua puerta de entrada a Berlín y uno de los principales símbolos tanto de la ciudad como de Alemania. No se trata de un arco de triunfo, sino que era el acceso, a modo de propileos, al «Nuevo Berlín» de la época. Está situada en el centro actual de la ciudad, en la Plaza de París, formando el final de la avenida Unter den Linden y marcando el comienzo del gran parque Tiergarten y de la avenida Straße des 17. Juni. En las cercanías también se encuentran el Reichstag y la Potsdamer Platz. Importantes sucesos en la historia de Berlín están ligados a la Puerta de Brandeburgo.
            </p>
            <br>
            <br>
            <p>.</p>
        
            
        
    
    </div>
    </body>