<!--Configuramos nuestro html metiéndole párrafos, imágenes y títulos-->
<body>
    <div class="datos">
        <br>
        <br>
        
    <h1><strong>EMIRATOS ÁRABES</strong></h1>
    <br>
    <br>
    
        <h3>Dubái</h3>
        <img src="assets/banderas/emi.jpg"/>
        <br>
        <br>
        <p>Dubái es una ciudad emirato de los Emiratos Árabes Unidos conocida por su lujoso comercio, la arquitectura ultramoderna y su vida nocturna animada. Burj Khalifa, una torre de 830 m de alto, domina el paisaje lleno de rascacielos. A sus pies se encuentra la Fuente de Dubái, con coreografías de chorros y luces al ritmo de la música. En las islas artificiales justo frente a la costa están Atlantis, la Palma, un centro turístico con agua y parques de animales marinos.</p>
        <br>
        <br>

        <img src="assets/banderas/emirat.jpg"/>
        <br>
        <br>
      <p>Es una ciudad que ofrece lugares turísticos imprescindibles, Safari por el desierto, cruceros con cenas, los mejores hoteles de 5 estrellas y una diversión exclusiva con todos lujos que caracteriza la ciudad.</p>
      <br>
      <br>
        <img src="assets/banderas/emir.jpg"/>
        <br>
        <br>

    
        
    
    </div>
    </body>